.w_f75{color: #757575;}
.w_f235996{color: #235996;}
.w_f4482c8,.w_f4482c8 a{color: #4482c8; text-decoration: none;}
.w_f333{color: #333;}
.w_f666{color: #666;}
.w_box1{background: #eae7e7;}
.w_b1h{height: 37px; background: #c9c9c9; 
line-height: 37px; color: #000; padding-left: 5px; margin-bottom: 10px;}
.w_b1h span{margin-right: 5px;}
.w_tb1{background: #fff; padding: 10px; }
.w_tb1Box table{width: 100%; margin-bottom: 10px;}
.w_tb1Box tr th{text-align: center;background: #e4e4e4; height: 32px; border-bottom: 1px solid #cbcbcb; color: #595757;}
.w_tb1Box tr th i{background:  url(../images/w_tbIcon.jpg) 0 0 no-repeat; width: 9px; height: 13px;display: inline-block;}
.w_tb1Box tr.w_bg{background: #f5f5f5;}
.w_tb1Box tr{border-top: 1px dotted #e9e9e9;}
.w_tb1Box tr td{text-align: center; padding: 9px 0; border-left: 1px dotted #e9e9e9; margin-right: 5px;}
.w_tb1Box tr td ul{margin: 0 auto;}
.w_tb1Box tr td ul li.w_nb{border-left: 0;}
.w_tb1Box tr td .w_search1{float: left; width: 142px; }
.w_tb1Box tr td .w_td_a{line-height: 30px; color: #235996;}
.w_tb1Box tr td .w_td_a em{line-height: 30px; color: #999;}
.w_tb1Box tr td .w_fb{color: #235996;}
.w_tb1Box .w_th1{min-width: 45px; *width: 45px;}
.w_tb1Box .w_th2{min-width: 35px; *width: 35px;}
.w_tb1Box .w_th3{min-width: 102px; *width: 102px; max-width: 230px; margin: 0 auto;}
.w_tb1Box .w_th4{min-width: 63px; *width: 63px;}
.w_tb1Box .w_th5{min-width: 30px; *width: 30px;}
.w_tb1Box .w_th6{min-width: 30px; *width: 30px;}
.w_tb1Box .w_th7{min-width: 30px; *width: 30px;}
.w_tb1Box .w_th8{min-width: 38px; *width: 38px;}
.w_tb1Box .w_th9{min-width: 62px; *width: 62px;}
.w_tb1Box .w_th10{min-width: 50px; *width: 50px;}
.w_tb1Box .w_th11{min-width: 25px; *width: 25px;}
.w_tb1Box .w_thw97{min-width: 97px; *width: 97px;}
.w_tb1Box td .w_nc{color: #333; }
.w_tb1Box td a.w_nc{color: #235996; text-decoration: none;}
.w_tb1Box td a.w_nc em,.w_tb1Box td .w_nc em{color: #b5b5b5;}
.w_tb1Box .w_th1 input{vertical-align: -0.2em;}

.w_tb1Title{margin-bottom: 10px;}
.w_tb1Title .w_btn1{float: left;}
.w_tb1Title .M_sear1{float: left;}
.w_tb1Title .w_search1{width: 65px;}
.w_tb1Title .w_search2{width: 95px;}
.w_tb1Title .w_search3{width: 95px;}
.w_tb1Title .w_r{float: right; line-height: 30px;}
.w_tb1Title .w_r .w_rInput{width: 268px; float: left;}
.w_tb1Title .w_r input{vertical-align: -0.2em;}
.w_tb1Title .w_r label{float: left;}
.w_tb1Title .w_r .w_fand1{float: left; line-height: 21px; margin-left: 15px;}
.w_tb1B .w_tb1_L,.w_tb1_a a{float: left;}
.w_tb1B .w_tb1_r{float: right;}
.w_tb1_L .w_search1{width: 65px;}
.w_tbAdd{margin-top: 10px;}
.w_tbAdd .w_search1{float: left;}
.w_tbAdd .w_btn1{float: left;}
.w_tb1Title .w_r .w_label1{color: #333; font-size:14px; font-weight: normal;}

.M_mod_1 .M_tit { height: 40px; line-height: 40px; background: #f8af48; color: #fff; font-weight: 700; font-size: 14px; margin-bottom: 0; text-indent: 10px; }
.w_box1 .M_tit i{ float: left; width: 44px; height: 40px; background-position: 0 0; }
.w_mod1_c{padding: 30px 0 20px;background: #fff; margin-bottom: 20px;}
.w_mod1_c ul{margin: 0 auto; width: 1190px;}
.w_mod1_c ul li{float: left; padding-left: 85px;}
.w_mod1_c ul li.w_item1{background:  url(../images/bg1.jpg) 0 0 no-repeat; width: 113px; height: 127px; margin-right: 130px;}
.w_mod1_c li em{font-family: "Arial"; font-size:48px ; color: #7aade8; text-align: center; display: block; width: 113px; margin-top: 6px;}
.w_mod1_c li p{font-size:14px ; color: #4482c8; font-weight: 700; text-align: center;}
.w_mod1_c ul li.w_item2{background:  url(../images/bg2.jpg) 0 0 no-repeat; width: 113px; height: 125px;  margin-right: 130px;}
.w_mod1_c ul li.w_item3{background:  url(../images/bg3.jpg) 0 0 no-repeat; width: 113px; height: 125px;  margin-right: 130px;}
.w_mod1_c ul li.w_item4{background:  url(../images/bg4.jpg) 0 0 no-repeat; width: 198px; height: 125px; padding-left: 0;}
.w_mod1_c li.w_item4 em{width: 198px;}
.w_bbox .M_tit { height: 40px; line-height: 40px; background: #60b3f0; color: #fff; font-weight: 700; font-size: 14px; margin-bottom: 0; text-indent: 10px; }
.w_bbox .M_tit i{ float: left; width: 44px; height: 40px; background-position:-595px 0; } 
.w_tb1Box_l table{width: 100%;}
.w_tb1Box_l tr th{color: #595757; text-align: center; height: 30px; background: #e4e4e4; border-bottom: 1px solid #cbcbcb;}
.w_tb1Box_l tr th .w_boldF{color: #595757; font-weight: 700;}
.w_tb1Box_l tr td{color: #6a6b6e; text-align: center; height: 35px; line-height: 35px;}
.w_tb1Box_l tr td .w_blueF{color: #4482c8; font-weight: 700;}
.w_tb1Box_l tr.w_tr_last{background: #e4e4e4; color: #3d3b3b;}
.w_tb1Box_l tr.w_tr_last td{color: #3d3b3b;}
.w_tb1Box_l tr.w_tr_last .w_boldF{font-weight: 700;}

.w_tb1Box td h3.w_bf{color: #666; font-weight: 700; text-align: left;}
.w_tb1Box td a.w_pl,.w_tb1Box td p.w_tdC{color: #666; text-align: left;}
.w_tb1Box td a.w_pl{display: block;}
.w_tb1Box td p a.w_btn{display: inline-block; width: 15px; height: 15px; background:  url(../images/upBtn.jpg) 0 0 no-repeat;}
.w_tb1Box td p a.w_btnD{display: inline-block; width: 15px; height: 15px; background:  url(../images/down_btn.jpg) 0 0 no-repeat;}

.w_tb1Box td a.w_bf{color: #4482c8;}
.w_tb1Title label{color: #235996;font-weight: 700;}
.w_tb1Box a.w_bf_c{color: #235996; font-weight: 700;}
.w_tb1Box a.w_bf_c .w_red,.w_tb1Box td .w_red{color: #d02316; font-weight: 700;}
.M_sear1 .w_redF,.w_tb1Box td .w_redF{color: #d02217;}
.M_sear1 .w_greenF,.w_tb1Box td .w_greenF{color: #02bb71;}
.M_sear1 .w_gray,.w_tb1Box td .w_gray{color: #333;}
.M_sear1 .w_blueF,.w_tb1Box td .w_blueF{color: #235996;}
.w_tb1Box tr td .w_td_b{border-left: 0;}

.w_tb1Box th .w_w100{min-width: 100px;}
.w_tb1Box th .w_w213{min-width: 213px;}
.w_tb1Box th .w_w240{min-width: 240px;}
.w_tb1Box th .w_w213d{width: 213px;}
.w_tb1Box td.w_w102{min-width: 102px; max-width: 230px;}
.w_dd{position: relative;}
.w_dd .w_span{position: absolute; top: 0; right: -145px; font-size: 14px; color: #999; line-height: 31px;}
.w_dd .w_span em{color: #ea4329; font-weight: 700;}
.w_resetLink{color: #235996;}